<div style="padding-left: 20px;padding-top:10px">
    <%=render 'races/race_view'%>
    <h4 style="text-align: left">Add Your Stats</h4>
    <%=render '/application/errors', model:@statistic%>
    <%=render 'form'%>
</div>
    
