<div class="race_view">Race Name: </div><%=@race.name%><br>
<div class="race_view">Location: </div><%=@race.location%><br>
<div class="race_view">Date: </div><%=@race.date_format%><br>
<div class="race_view">Type: </div><%=@race.type.name%><br>