<div class="header">
    <h1>Create New Account</h1>
</div>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Please fix <%= pluralize(@user.errors.count, "error") %> below:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form'%>