
<h1>My Dashboard</h1>
<h4>Welcome <%=current_user.first_name%>!</h4>

<div class="dashboard">
    <div id="dashboard"><h2>My Racing Dashboard</h2></div>
    <div id="race_types">
        
    </div>
</div>


