/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .menu_bar {
     list-style: none;
     width: 120px;
     height: 100%;
     margin: 0;
     padding: 0px;
     position: fixed;
     left: 0px;
     top: 0px;
     background-color: black;
     border: 1px solid black;
}
.dropdown_btn {
    background-color: black;
    outline: none;
    border: none;
}

.menu_bar li, .dropdown_btn {
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
    height: 25px;
    width: 110px;
    position: relative;
    left: -40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: orange;
}

.menu_bar li:first-child img {
    height: 110px;
}

.menu_bar li:first-child {
    height: 60px;
}

.menu_bar img a:hover:not(.active) {
    background-color: transparent;
}

.menu_bar li:last-child {
    border-bottom: none;
  }

.menu_bar li a {
    color: orange;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.dropdown_container {
    display: none;
    border: none;
    position: relative;
  }

.dropdown_container li {
    position: relative;
    left: -80px;
    background-color: rgb(63, 61, 57);
  }
.dropdown_container li:first-child {
    height: 25px;
    padding-top: 5px;
}

.menu_bar li a:hover:not(.active), .dropdown_btn:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.menu_bar li:first-child a:hover:not(.active) {
    background-color: transparent;
}

.menu_bar li a:active {
    background-color: #4CAF50;
    color: white;
  }

  /* Button Styling */

div.button a, div.button input {
        background-color: white;
        border: 3px solid black;
        border-color:orange;
        color: black;
        padding: 6px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
div.button a:hover, a:visited, div.button input:hover {
    background-color: orange;
}
