// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
    display: grid;
    gap: 2px;
    grid-auto-flow: column;
    justify-items: center;
    column-gap: 0px;
}
.dashboard {
    float: left;
    width: 90%;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(255, 255, 113);
}

div#race_types {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: none;
    align-items: center;
    justify-items: center;
    margin: none;
}

div #Half-Marathon, div #5k, div #10k, div #Marathon {
    width: 100%;
    display: list-item;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

h2 {
    text-align: center;
    background-color: rgb(255, 255, 113);
    color: rgba(0, 53, 99, 0.708);
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid black;
}

h4{
    text-align: center;
}

h4 a {
    text-decoration: none;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(65, 130, 187)
}

#race_types ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

#race_types {
    background-color: white;
}

.column_two {
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    display: inline;
    width: 100%;
    border-style: solid;
    border-width: 2px;
}

.race_search {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.friends {
    float: left;
    display: block;
    width: 100%;
    margin: none;
    text-align: center;
}

.friend_stats {
    margin-left: auto;
    margin-right: auto;
}

.field_with_errors {
    color: red;
    display: inline;
}