// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
    display: grid;
    gap: 2px;
    grid-auto-flow: column;
    justify-items: center;
}
.dashboard {
    float: left;
    width: 90%;
}

div#race_types {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: none;
    align-items: center;
    justify-items: center;
    margin: none;
}

#Half-Marathon, #5k, #10k, #Marathon {
    width: 80%;
    display: list-item
}
h2 {
    text-align: center;
}

h4{
    text-align: center;
}

#race_types ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.column_two {
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    display: inline;
    width: 100%;
    border-style: solid;
    border-width: 2px;
}

.race_search {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 20px;
}

.friends {
    float: left;
    display: block;
    width: 100%;
    margin: none;
    text-align: center;
}

.friend_stats {
    margin-left: auto;
    margin-right: auto;
}