<div class="home_header">
    <h1>Welcome to RACETRACKER!</h1>
</div>

<div class="public_races"></div>
    <div class="public_races_title"><h3>Recently Added Races</h3></div>
    <div class="public_race_listing">
        <ul>
        <li><%=render '/races/public_races'%>
        </li>
        </ul>
    </div>