<div class="home_header", style="padding-left:20px">
    <h1 style="text-align:center">Welcome to RACETRACKER!</h1>
</div>
<%= flash[:message]%>
<div class="public_races"></div>
<div class="public_race_listing", style="padding-left:20px">
    <%=render 'races/public_races'%>
</div>